<% include ../partials/header %>

<h1 class="display-3 text-center">About Me</h1>
<div class="jumbotron text-center">
    <p class="display-4"><%= fullname %></p>
    <hr class="my-2">
    <p class="lead">Student ID: 5930213054</p>
    <p class="lead">Major: Software Engineering</p>
    <p class="lead">Faculty: College of Computing</p>
    <p class="lead">University: Prince of Songkla University Phuket Campus</p>
</div>

<% include ../partials/footer %>