<% include ../partials/header %>

<div class="jumbotron">
    <h1 class="display-4">140-390 Full-Stack Web Development with JavaScript - Midterm Project</h1>
    <hr class="my-2">
    <p class="lead"><b>Building a Web App using Express + EJS</b><br></p>
        <b>Tasks</b>
        <li>Create a web application using <b>Express + EJS</b></li>
        <li>CRUD operations on <b>at least 2 tables</b> of a database</li>
        <li>Include <b>at least 2 reports</b></li>
        <li>Use a responsive web framework: Bootstrap or others</li><br>
        <b>Upload app to a cloud service</b>
        <li>Heroku or Azure or others</li>
    
</div>

<% include ../partials/footer %>