<% include ../partials/header %>

<form action="/products/update" method="post">
    <div class="form-group">
    <label for="">Product ID</label>
    <input type="number"
        class="form-control" value="<%= product.id %>" name="id" aria-describedby="helpId">
    <small id="helpId" class="form-text text-muted">Product ID</small>
    </div>

    <div class="form-group">
    <label for="">Title</label>
    <input type="text"
        class="form-control" value="<%= product.title %>" name="title" aria-describedby="helpId">
    <small id="helpId" class="form-text text-muted">Product name</small>
    </div>

    <div class="form-group">
    <label for="">Price</label>
    <input type="number"
        class="form-control" value="<%= product.price %>" name="price" aria-describedby="helpId" placeholder="">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success">Save</button>
        <a name="" id="" class="btn btn-warning" href="/products" role="button">Cancel</a>
    </div>
</form>
<% include ../partials/footer %>